@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --body-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --second-color:#757575;
    --background-color:#2F303A;
    --color-contact:rgba(255, 255, 255, 0.6);
    --button-color:#F5F4FA;
    /* Other */
    --items: 3;
    --indent: 30px;


}
body {
    font-family:Roboto,sans-serif;
    /* font-weight: bold; */
    color:var(--body-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    
} 
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
 
    /* Flex $ Gap  */
.card-set {
display: flex;
flex-wrap: wrap;
gap:var(--indent);
}
.card-set-item {
    flex-basis: calc(100% - (var(--indent)-1 / var(--indent)) );
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

             /* Flexbox */

/* reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img{
    display: block;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:currentColor;
}
button {
    cursor: pointer;
}

.header-nav {
margin-right: auto;
}

a {
    text-decoration: none;
}
ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
} 

                /* header */
.header {
    height: 80px;
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--body-color);
    
}

.logo-blue {
    color:var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    letter-spacing: 0.03em;
    
}
.logo-white {
    color:var(--primary-white-color);
}

.header-nav {
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    padding-left: 93px;
}
.header-btn-black{
    color:var(--body-color);
    padding-left: 50px;
    
}
.header-btn{
    color:var(--accent-color);
    background-color: var(--primary-white-color);
    padding-left: 93px;
    
}
.header-contact{
    margin-left: auto;
}

.contact-list{
    color:var(--second-color);
    margin-left: 50px;
}
.contact-list:nth-child(1){
    margin-left: 0px;
    
}
.header-grey:hover,
.header-grey:focus{
    color:var(--accent-color);
}
                /* main */
   
   .main-bg{
    background-color: var(--background-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.main-bg .container{
    flex-direction: column;
    display: flex;
}
.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.main-btn-nav {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }
.main-btn {
    gap: 8px;
}

.main-btn-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    border: 0px solid var(--accent-color);
    background-color: var(--button-color);
    border-radius: 4px;
    padding-top: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 6px;
    margin: 30px auto 50px;
    
   
}
.main-btn-style:hover,
.main-btn-style:focus {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    border: 0px solid var(--accent-color);
    border-radius: 4px;
}
.main-portfolio {
    color:var(--primary-white-color);
    cursor:pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    font-style:normal;
    padding-top: 94px;
    padding-bottom: 94px;
}
                /* section */
.section {
    color:var(--primary-white-color);
    padding-top: 94px;   
}
.sect-gall-img {
    background-color: var(--primary-white-color);
    border: 1px solid #EEEEEE;
    width: 370px;
}

.section-skills h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--body-color);

}
.section-skills p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-color);
}
.section-skills {
    padding-top: 94px;
   
}
.skills-title {
    width: 270px;
    height: 16px;
    
}
.skills-text {
    margin-top: 10px;
    width: 270px;
    height: 72px;
    margin-right: 30px;
   
}

.work-gallery{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    
}
.gallery-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}
.img-gallery {
    display: flex;
}
.gallery-list {
    gap: 30px;
}
            /* Team */

.our-team {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: var(--body-color);
margin-left: auto;
margin-right: auto;
}
.team-list {
    gap: 30px;
}
.team-gallery {
    width: 270px;
    height: 368px;
    margin-top: var(--indent);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}
.team-name {
margin-top: var(--indent);

}
.team-prof{
margin-top: 10px;
}
.section-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color); 
    background-color: var(--button-color);
    padding-bottom: 94px;
    
}
.section-team h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
}
.section-team p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);
    padding-bottom: 94px;
}

 .sect-gall-img .section-title{
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    width: 322px;
    height: 26px;
   
}
.img-info {
    padding: 24px 20px;
    
}
.section-text{
    color:var(--second-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 4px;
}
                /* footer */

.footer {
    font-style:normal;
    background-color: var(--background-color);
    color:var(--body-color);
    padding: 60px 0px;
    
}
 
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
 .footer-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

}
.address-map {
    color:var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    height: 21px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
}
.address-contact {
    
    color: var(--color-contact);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    height: 21px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   }
.footer-nav {
   margin-bottom: 9px;
}
